DOMAIN=your.domain
TZ=your/timezone
# tried to use secrets, but the caddy config file needs cf_api_token 
TS_HOSTNAME=your.hostname
TS_AUTHKEY=your.tailscale.auth.key
CF_API_TOKEN=your.cloudflare.api.token
